.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.card {
  max-width: 850px;
  width: 100%;
  margin-bottom: 2em; }

.media {
  height: 0;
  padding-top: 56.25%; }

.readMore {
  margin-left: auto !important; }

.avatar {
  background-color: #c9b29f !important; }


.news {
  overflow: auto; }

.topic {
  display: flex; }

.panel {
  max-width: 850px;
  display: flex;
  justify-content: space-between;
  background: #e2dcd3; }

.buttonTopic {
  width: 33%; }

