.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1000px) {
  .dateText {
    width: 100% !important;
  }
}

.dateText {
  display: flex;
  justify-content: space-between;
  color: #faebd7;
  position: fixed;
  top: 0;
  background: #adbebe;
  width: 850px;
  z-index: 2;
  padding: 7px 0;
  border-bottom: 2px solid;
}
