
.block, .blockReverse {
  width: calc((100vw - 870px) / 2);
  position: fixed;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .block, .blockReverse {
    visibility: hidden;
  }
}

.MuiSvgIcon-root {
  width: 2em;
  height: 2em;
}

.arrowButton:hover, .reverseArrowButton:hover {
  color: #494747 !important;
  background: transparent;
}

.arrowButton {
  color: #9e9e9e;
  width: 100%;
  height: 100%;
}

.block {
  left: 0;
}

.blockReverse {
  right: 0;
}

.arrowBlock {
  display: flex;
  align-items: center;
}
