.card {
  max-width: 850px;
  width: 100%;
  margin-bottom: 2em;
}

.media {
  height: 0;
  padding-top: 56.25%;
}

.readMore {
  margin-left: auto !important;
}

.avatar {
  background-color: #c9b29f !important;
}
